/*
Author: Maria Cruz
Date: Current Date
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and header content */
body {
    background-color: #d9d9d9;
}

header, footer {
    padding: 2%;
    text-align: center;
}

/* Style rules for main content */
main {
    padding: 2%;
    overflow: auto;
}

main p {
    font-size: 1.25em;
    padding: 2%;
}

main a {
    color: #0000b3;
    text-decoration: none;
}

#orange, #purple, #green {
    display: block;
    margin-bottom: 2%;
    text-align: center;
    width: 33%;
    float: left;
}

#questions {
    clear: left;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    display: inline-block;
    padding-top: 5%;
}

/* Orange */
.orange-hex{
    background-color: #d67804;
}

.orange-rgb{
    background-color: rgb(214,120,4)
}

.orange-hsl{
    background-color: hsl(33, 96%, 43%)
}

/* Purple */
.purple-hex{
    background-color: #8515ad;
}

.purple-rgb{
    background-color: rgb(133,21,173);
}

.purple-hsl{
    background-color: hsl(284,79%,38%);
}

/* Green */
.green-hex{
    background-color: #4cb568;
}

.green-rgb{
    background-color: rgb(76,181,104);
}

.green-hsl{
    background-color: hsl(136,42%,50%);
}