body, table, tr, td {
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border: 2px solid #000;
  margin: 20px auto;
  width: 80%;
}

tr {
  border: 2px solid #000;
}

td {
  border: 2px solid #000;
  text-align: center;
}

th {
  background-color: yellow;
  border: 2px solid #000;
  text-align: left;
}

.thcenter {
  text-align: center;
}

.thright {
  text-align: right;
  padding-right: 5%;
}

tr:nth-child(odd) {
  background-color: yellow;
}
