body, header, nav, main, footer, img{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: rgb(213, 163, 123);
  color: #4a3112;
  background-image: linear-gradient(to left, Purple, Aqua);
}

header{
  background-image: linear-gradient(to left, MediumPurple, MediumAquaMarine);
  text-align: center;
  border: 10px dashed #4a3112;
}

h1{
  text-shadow: -3px 2px #412c1352;
}

nav{
  text-align: center;
}

/* The inline element displays elements next to each other*/
nav ul{
  list-style-type: none;
  margin: 0;
  text-align: center;
  display: inline;
}

nav li{
  display: inline-block;
  font-size: 1.25em;
}

/* The block element displays elements with space between each element */
nav li a{
  color: #664318;
  font-weight: bold;
  list-style-type: none;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

img{
  display: block;
  margin: auto;
}

main{
  padding: 3%;
}

main h3{
  color: rgba(105, 15, 15, 0.81);
}

div > h3{
  text-align: center;
  font-weight: bold;
}

p{
  display: block;
  height: auto;
  width: 95%;
}

main img{
  max-width: 40%;
  border-radius: 20px;
}

footer{
  text-align: center;

}

