body, header, nav, ul, main, section, table {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f0d5f0;
}

/* Style rules for form elements */
fieldset, input, textarea {
  margin-bottom: 2%;
}

fieldset legend{
  font-weight: bold;
  font-size: 1.25em;
}

fieldset {
  border-collapse: collapse;
  border: 3px solid #700a72;
}

label{
  display: block;
  padding-top: 2%;
}

#submit{
  margin: 5%;
  display: inline-block;
  padding: 2%;
  background-color: #6bad6c;
  color: #f6eee4;
  font-size: 1.25em;
  border-radius: 10px;
}

#reset{
  margin: 0 auto;
  display: inline-block;
  padding: 2%;
  background-color: #dc8e8e;
  color: #f6eee4;
  font-size: 1.25em;
  border-radius: 10px;
}

form{
  width: 80%;
  color: #46113e;
}

.form-grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.btn{
  grid-column: 1 / span 2;
}

fieldset {
  padding: 5%;
  margin: 5%;
  background-color: #ffc8f3;
}

.col {
  display: grid;
  grid-template-columns: 0.5fr;
}

.col label {
  display: block;
  padding: 5px;
}

#question {
  font-weight: bold;
}

textarea {
  width: 100%;
}

/* Header Style rules */
h1 {
  text-align: center;
  background-color: #ffc8f3;
  font-size: 2em;
  padding: 5%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

 /* Style rules for table */
  table{
    border: 4px solid #700a72;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #8c3873;
    width: 60%;
  }

  caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
  }

  th, td{
    border: 2px solid #700a72;
    padding: 2%;
  }

  th{
    background-color: #d770d9;
    color: #fff;
    font-size: 1.15em;
  }

  tr:nth-child(odd){
    background-color: #c351a1;
  }

  /* Style rule for Nav */
 nav{
  background-color: #46113e;
}

nav ul{
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav li{
  display: inline-block;
  font-size: 1.5em;
  font-family: Geneva, Arial,sans-serif;
  font-weight: bold;
  padding: 5%;
}

nav li a{
  display: block;
  color: #ffc8f3;
  padding: 0.5em, 2em, 0.5em, 2em;
  text-decoration: none;
}

nav li a:hover {
  color: #fadaf3;
  font-size: 1.05em;
}

/* Style rule for Paragraph */

p{
  text-align: center;
}