body,header,footer{
  margin:0;
  padding:0;
  border:0;
}

#wrapper{
  width:80%;
  margin-top:0;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
}

body{
  background-color:purple;
  color:rgb(198, 139, 198);
}