body, header, nav, h1, img, main, footer{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #ffeacd;
  margin: 0;
  padding: 0;
  /* Ensures the body takes up at least the full height of the screen */
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  font-family: Graduate, Arial, sans-serif;
}

.content {
  /* Tells the main content to grow and fill all empty space */
  flex: 1; 
}

header{
  text-align: center;
}

.fluid-header {
  width: 100%;
  background-color: #ffeacd;
  color: white;
  padding: 10px 0;
}

.header-container {
  width: 90%;            
  max-width: 1200px;   
  margin: 0 auto;        
  display: flex;         
  justify-content: space-between; 
  align-items: center;
}

.logo{
  max-width: 15%;
}

h1{
  display: inline;
  position: relative;
  top: 20px;
  right: 20px;
  font-size: 160%;
  color: #ff6100;
  font-family: Graduate, Arial, sans-serif;
}

#center-text{
  text-align: center;
  margin: auto;
}

/* Mobile navigation */
@media screen and (max-width: 1023px) {  

  .stick{
    position: sticky;
    top: 0;
  }

  .topnav {
    overflow: hidden;
    background-color: #d57841;
    position: relative;
  }

  .topnav .myLinks {
    display: none;
  }

  .topnav .myLinks.show {
    display: block;
  }

  .topnav a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: Graduate, Arial, sans-serif;
  }
/* Replace first font with whatever special font you want */

  #menu-b {
    display: block;
  }

  .topnav a.icon {
    background: #d57841;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #d57841;
    color: #ffeacd;
  }

  .active {
    background-color: #d57841;
    color: #ffeacd;
  }

  img{
    width: 30%;
    border-radius: 10px;
  }
}

/* tablet-desk nav bar */
@media screen and (min-width: 1024px) {

  nav{
    font-family: Graduate, Arial, sans-serif;
    background-color: #d57841;
  }

  .stick{
    position: sticky;
    top: 0;
  }

  .topnav {
    text-align: center;
  }

  .topnav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 14px 16px;
  }

  .topnav .myLinks a {
    display: inline-block;
  }

  #menu-b{
    display: none;
  }

  img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

main{
  text-align: center;
}

footer{
  text-align: center;
}

.graduate-regular {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}
